{% include 'CleanAdminBundle:Common:meta.html.twig' %}
<title>机器管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 机器管理 <span class="c-gray en">&gt;</span> 更新 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
    <form class="form form-horizontal" id="form" action="/admin/editMachineSubmit" method="post">  
        <input type="hidden" value="{{machineinfo.machineId}}" id="machineId" name="machineId">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">公司/型号：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <select name="companyId" id="companyId">
                    {%if (isAdmin)%}<option value="-1" {%if(machineinfo.companyId==-1)%}selected{%endif%}>通用</option>{%endif%}
                    {% for company in companyInfo %}
                    <option value="{{company.companyId}}" {%if(machineinfo.companyId==company.companyId)%}selected{%endif%}>{{company.companyName|raw}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">机器SN：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{machineinfo.sn|raw}}" placeholder="机器SN" id="sn" name="sn">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">固件版本：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input disabled="" type="text" class="input-text" value="{%if machineinfo.version is defined%}{{machineinfo.version|raw}}{%endif%}" placeholder="固件版本" id="version" name="sn">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">硬件版本：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input disabled="" type="text" class="input-text" value="{%if machineinfo.hardware is defined%}{{machineinfo.hardware|raw}}{%endif%}" placeholder="硬件版本" id="hardware" name="sn">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">机器别名：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{machineinfo.machineName|raw}}" placeholder="机器别名" id="machineName" name="machineName">
            </div>
        </div>           
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>                
                <button id="reset" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

{% include 'CleanAdminBundle:Common:footer.html.twig' %}

<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="/assets/js/editMachine.min.js"></script> 
</body>
</html>
