{% trans %}亲爱的的用户{% endtrans %}：<br />
&nbsp;&nbsp;&nbsp;&nbsp; {% trans %}您已经向系统申请重置密码。请点击以下链接，按照步骤进行密码重置操作。{% endtrans %}
{% trans %}重置成功，别忘了用新密码登陆账号哦。谢谢{% endtrans %}：）
：<br />
<a href="{{ domain }}/member/resetPasswordPage?token={{ token }}&email={{ email }}" target="_blank"> 
    {{ domain }}/member/resetPasswordPage?token={{ token }}&email={{ email }}
</a>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}此链接3小时内有效{% endtrans %}
<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;{{ applyDate }}