{% include 'CleanAdminBundle:Common:meta.html.twig' %}
<title>修改广告位</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 修改广告位 <span class="c-gray en">&gt;</span> 更新 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
    <form class="form form-horizontal" id="form" action="/admin/editAdvertisementPlaceSubmit?advertisementPlaceId={{entity.advertisementPlaceId}}" method="post">  
      
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">名称：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{ entity.placeName|raw }}" placeholder="输入名称" id="placeName" name="placeName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标识</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{ entity.flag|raw }}" placeholder="输入标识" id="flag" name="flag">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">宽:</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{ entity.placeWidth|raw }}" placeholder="输入宽" id="placeWidth" name="placeWidth">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">高:</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{ entity.placeHeight|raw }}" placeholder="输入高" id="placeHeight" name="placeHeight">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">说明：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <textarea name="description" id="description" class="textarea"  placeholder="更新内容" datatype="*0-100" dragonfly="true" nullmsg=""> {{ entity.description|raw }} </textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
            </div>
        </div> 
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>                
                <button id="reset" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

{% include 'CleanAdminBundle:Common:footer.html.twig' %}
<div style="position:absolute; top:-100px;"><form action="/admin/uploadAdvertisementFile" id="myForm" name="myForm" enctype="multipart/form-data" method="post"><input type="file" id="advertisementFile" name="advertisementFile"><input  type="submit" value="上传" id="app_submit"></form></div>
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="/assets/lib/md5.min.js"></script>
<!-- <script type="text/javascript" src="/assets/js/editAdvertisementPlace.js"></script>  -->
<script>
  "use strict";
$(function() {
    var _bool = false;

    $("#form").validate({
        rules: {
            placeName: {
                required: true
            },
            flag: {
                required: true
            },
            placeHeight: {
                required: true
            },
            placeWidth: {
                required: true
            }
        },
        onkeyup: false,
        focusCleanup: true,
        success: "valid",
        submitHandler: function(form) {
            // $(form).ajaxSubmit();
        var _placeName = $('#placeName').val(),
            _flag = $('#flag').val(),
            _placeHeight = $('#placeHeight').val(),
            _placeWidth = $('#placeWidth').val(),
            _description = $('#description').val();
            if (_bool) {
                return false;
            }
            _bool = true;
            $.ajax({
                type: 'post',
                data: {
                    placeName: _placeName,
                    flag: _flag,
                    placeHeight: _placeHeight,
                    placeWidth: _placeWidth,
                    description: _description
                },
                url: "/admin/editAdvertisementPlaceSubmit?advertisementPlaceId={{entity.advertisementPlaceId}}",
                success: function(data) {
                    var data = JSON.parse(data);
                    if (data.code == 'N00000') {
                        layer.msg('保存成功!', {
                            icon: 1,
                            time: 2000
                        });
                        window.parent.location.reload();
                        // $('#form', window.parent.document).find('.btn-refresh').click();
                        setTimeout(function() {
                            $('#reset').trigger('click');
                        }, 2000);
                    } else {
                        layer.msg(data.message, {
                            icon: 2,
                            time: 2000
                        });
                    }
                    _bool = false;
                },
                error: function(XmlHttpRequest, textStatus, errorThrown) {
                    layer.msg('网络错误!', {
                        icon: 2,
                        time: 2000
                    });
                    _bool = false;
                }
            });
        }
    });

    $('#reset').on('click', function() {
        layer_close();
        return false;
    });

});
</script>
</body>
</html>
