{% include 'CleanAdminBundle:Common:meta.html.twig' %}
<title>固件版本管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 固件版本管理 <span class="c-gray en">&gt;</span> 更新 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
    <form class="form form-horizontal" id="form" action="/admin/editFirmwareSubmit" method="post">  
         <input type="hidden" value="{{firmwareInfo.firmwareId}}" id="firmwareId" name="firmwareId">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">公司：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <select name="companyId" id="companyId">
                    {%if (isAdmin)%}<option value="-1" {%if(firmwareInfo.companyId==-1)%}selected{%endif%}>通用</option>{%endif%}
                    {% for company in companyInfo %}
                    <option value="{{company.companyId}}" {%if(firmwareInfo.companyId==company.companyId)%}selected{%endif%}>{{company.companyName|raw}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">固件名称：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{firmwareInfo.firmwareName|raw}}" placeholder="" id="firmwareName" name="firmwareName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">版本号：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{firmwareInfo.versionCode}}" placeholder="" id="versionCode" name="versionCode">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">APP显示版本号：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" placeholder="APP显示版本号" id="displayVersionCode" name="displayVersionCode" value="{{firmwareInfo.displayVersionCode|raw}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">白名单：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                {%set whiteGroupIds = firmwareInfo.whiteGroupIds|split(',')%}
                {%for item in whiteGroupInfo%}
                <label><input type="checkbox" value="{{item.whiteGroupId}}" {%if item.whiteGroupId in whiteGroupIds %}checked{%endif%} name="whiteGroupId">{{item.groupName|raw}}</label>
                {%endfor%}
                <label><input type="checkbox" value="0" {%if 0 in whiteGroupIds %}checked{%endif%} name="whiteGroupId">所有SN</label>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文件上传：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">点击上传</div>
                    <input readonly="" type="text" class="input-text" value="{{firmwareInfo.url|raw}}" id="url" name="url">
                    <p>后缀为CleanPack文件，否则上传无反应</p>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">自动升级：</label>
            <div class="formControls col-xs-1 col-sm-1"> 
                <input type="checkbox" id="autoUpdate" name="autoUpdate" {% if firmwareInfo.autoUpdate is defined and firmwareInfo.autoUpdate==1 %} checked {% endif %}}>
            </div>
        </div>  
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">校验码：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="{{firmwareInfo.checkCode}}" placeholder="" id="checkCode" name="checkCode">
            </div>
        </div>  
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">中文说明：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <textarea name="description" id="description" class="textarea"  placeholder="更新内容" datatype="*0-100" dragonfly="true" nullmsg="" onKeyUp="$.Huitextarealength(this,500)">{{firmwareInfo.description|raw}}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">其他语言：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <textarea  name="enDescription" id="enDescription" class="textarea"  placeholder="更新内容" datatype="*0-100" dragonfly="true" nullmsg="" onKeyUp="$.Huitextarealength(this,500)">{{firmwareInfo.enDescription|raw}}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>                
                <button id="reset" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>


{% include 'CleanAdminBundle:Common:footer.html.twig' %}

<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="/assets/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/assets/js/editFireWare.min.js"></script> 
<script type="text/javascript" src="/assets/lib/md5.min.js"></script>
</body>
</html>
